<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail Kegiatan</title>
</head>

<body>
  <h2>{{ kegiatan.nama_kegiatan }}</h2>

  {% if kegiatan.gambar %}
  <img src="{{ url_for('static', filename='file_uploads/' + kegiatan.gambar) }}" width="300">
  {% endif %}

  <p><b>Tanggal:</b> {{ kegiatan.tanggal }}</p>
  <p><b>Waktu:</b> {{ kegiatan.waktu }}</p>
  <p><b>Lokasi:</b> {{ kegiatan.lokasi }}</p>
  <p><b>Deskripsi:</b></p>
  <p>{{ kegiatan.deskripsi }}</p>
</body>

</html>